<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h2>News feed</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  
<ion-card>
  <ion-card-header>
    <ion-card-title>Mel mark Dela cruz</ion-card-title>
    <ion-card-subtitle>Setp.1 8:00pm</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Rawr
    <div>
      <ion-img src="assets/images/1.jpg"></ion-img>
    </div>
    <div>
      <ion-button color="primary" expand="full">Like</ion-button>
    </div>
    <div>
      <ion-list>
        <ion-item>
          <ion-input placeholder="Comment" name="like"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Pa picture Idol</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Awesome</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>I wish mapansin ako nito</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card-content>
</ion-card>


  
<ion-card>
  <ion-card-header>
    <ion-card-title>User241-5123</ion-card-title>
    <ion-card-subtitle>Setp.2 3:13pm</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    look at my digital art
    <div>
      <ion-img src="assets/images/3.jpg"></ion-img>
    </div>
    <div>
      <ion-button color="primary" expand="full">Like</ion-button>
    </div>
    <div>
      <ion-list>
        <ion-item>
          <ion-input placeholder="Comment" name="like"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Looks great</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>what a mess</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card-content>
</ion-card>


</ion-content>
