.container{

    .avatar{
        width:200px;
        height:200px;
        padding:10px;
        margin:auto;
    }
    .card-title{
        text-align:center;
        padding: 0px 10px 10px 10px;
        width: 100%;
        top:39%;
        font-size:2.0em;
    }


}